* {
    margin: 0;
    padding: 0;
    font-family: 'Barlow Semi Condensed', sans-serif;
}

.player-choice {
    border: 1px solid white;
    border-radius: 50%;
    border-width: 70px;
    background: white;
}

.computer-choice {
    border: 1px solid white;
    border-radius: 50%;
    border-width: 70px;
    background: white;
}

.gameplay {
    text-align: center;
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: space-between;
    width: 700px;
    padding: 20px;
    margin-top: 90px;
}

.my-choice {
    position: absolute;
    left: -10px;
}

.opponent {
    position: absolute;
    right: -20px;
}

.choice-text {
    padding-bottom: 80px;
    font-size: 2rem;
    color: white;
}

.rock-choice {
    border-radius: 50%;
    position: absolute;
    outline: 20px solid lightblue;
    left: -10px;
}

.paper-choice {
    border-radius: 50%;
    position: absolute;
    outline: 20px solid orange;
    left: -10px;
}

.scissors-choice {
    border-radius: 50%;
    position: absolute;
    outline: 20px solid red;
    left: -10px;
}



/* Repetition of classes is for correct positioning */

.rock-comp {
    border-radius: 50%;
    position: absolute;
    outline: 20px solid lightblue;
    right: 25px;
}

.paper-comp {
    border-radius: 50%;
    position: absolute;
    outline: 20px solid orange;
    right: 25px;
}

.scissors-comp {
    border-radius: 50%;
    position: absolute;
    outline: 20px solid red;
    right: 25px;
}

.play-again {
    text-align: center;
    margin: 0 auto;
    height: 100px;
    padding-bottom: 200px;
}

.winText {
    position: absolute;
    bottom: 0;
    left: 35%;
    right: 40%;
    transform: (-50%, -50%);
    width: 200px;
}

.whiteText {
    color: white;
    font-size: 3rem;
    padding-bottom: 20px;
}

.reset-button {
    position: relative;
    background: white;
    color: hsl(229, 64%, 46%);
    width: 250px;
    height: 50px;
    right: 23px;
    border-radius: 10px;
    text-align: center;
    font-size: 1.2rem;
}
