* {
    margin: 0;
    padding: 0;
    font-family: 'Barlow Semi Condensed', sans-serif;
}

.hidden-body {
    filter: brightness(50%);
}

html, body {
    height: 100%;
}

body {
    background: radial-gradient(hsl(214, 47%, 23%), hsl(237, 49%, 15%));
}

.container {
    position: relative;
    width: 100%;
    height: 100%;
}

.game {
    z-index: 1;
    position: absolute;
    height: 100%;
    width: 100%;
}


.header {
    width: 55%;
    border: 1px solid hsl(217, 16%, 45%);
    padding: 25px;
    display: flex;
    justify-content: space-between;
    position: absolute;
    left: 0;
    right: 0;
    top: 40px;
    margin: 0 auto;
}

.title-text {
    color: white;
    font-size: 2vw;
    line-height: 1;
}

.scoreboard {
    background: white;
    width: 15%;
    text-align: center;
    border-radius: 10px;
}

.current-score {
    font-size: 3vw;
}

.score-marker {
    font-size: 1.1vw;
}

.score-text {
    margin-top: 20px;
}


.board {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.component {
    border: 1px solid white;
    border-radius: 50%;
    border-width: 25px;
    background: white;
}

.component:hover {
    opacity: 0.5;
}
 
.rock {
    position: absolute;
    left: -15px;
    top: -10px;
    outline: 20px solid lightblue;
}

.paper {
    position: absolute;
    top: -10px;
    right: -15px;
    outline: 20px solid orange;
}

.scissors {
    position: absolute;
    right: 35%;
    bottom: 0;
    outline: 20px solid red;
}

.rules {
    color: white;
    position: absolute;
    right: 40px;
    bottom: 40px;
    background: none;
    border: 1px solid white;
    padding: 10px 25px;
    font-size: 1vw;
    border-radius: 8px;
}

.rules-popup {
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

.text-div {
    display: flex;
    justify-content: space-between;
}

.rule-header {
    position: relative;
    top: 60px;
    font-size: 2vw;
    left: 40px;
}

.cross {
    position: relative;
    top: 80px;
    right: 40px;
    height: 20px;
}

.cross:hover {
    opacity: 0.5;
}

.rule-img {
    background: white;
    height: 300px;
    width: 300px;
    padding: 80px;
    border-radius: 10px;
}


